{% extends "body.html" %}

{% block content %}


<div class="container">
<div class="hero hero-sm">
    <div class="hero-body">
        {{ site.hero | markdown }}
    </div>
</div>

<div class="columns">

    <section class="column col-9 col-sm-12">
        {% block news_content %} 
        {% include "news/list.html" %}
        {% endblock %}
    </section>

    <section class="column col-3 col-sm-12">
        {% block news_sidebar %}
        {% include "sidebar.html" %}
        {% endblock %}
    </section>

</div>

</div>

{% endblock %}
