<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ site.description }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome.min.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <script src="{{ url_for('static', filename='jquery-3.5.0.min.js') }}"></script>
        <!-- SimpleMDE -->
        <link href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" type="text/css" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <!-- bricklayer -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"></script>
        <!-- MathJax -->
        <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
        <!-- Dropzone -->
        <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.min.css') }}"/>
        <script src="{{ url_for('static', filename='dropzone.min.js') }}"></script>
        <!-- Prism -->
        <link rel="stylesheet" href="{{ url_for('static', filename='prism.css') }}"/>
        <script src="{{ url_for('static', filename='prism.js') }}"></script>

        <!-- custom -->
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>
        <script src="{{ url_for('static', filename='custom.js') }}"></script>
    </head>
    <body class="language-text">
        <div class="hide-md">
            <header class="navbar">
            <section class="navbar-section">
                <a href="{{ url_for('index') }}" class="navbar-brand">
                    {{ site.title }}
                </a>
            </section>
            <section class="navbar-section">
                {% for item in site.menu %}
                {% set active = '' %}
                {% if request.url_rule.endpoint in item.endpoints %}
                    {% set active = 'active' %}
                {% endif %}
                <a href="{{ url_for(item.endpoints[0]) }}" class="btn btn-link {{ active }}">
                    {{ item.title }}
                </a>
                {% endfor %}
            <!--</section>
            <section class="navbar-section">-->
                {% if current_user.is_authenticated %}
                <img src="{{ current_user.avatar(32) }}" class="clickable" data-href="{{ url_for('profile') }}"/>
                <a href="{{ url_for('profile') }}" class="btn btn-link">
                    {{ current_user.data.fullname }}</a>
                <a href="{{ url_for('logout') }}" class="btn btn-link">Sign out</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-link">Sign in</a>
                {% endif %}
            </section>
        </header>
        </div>
        <div class="show-md">
        <header class="navbar">
            <section class="navbar-section">
                <a href="{{ url_for('index') }}" class="navbar-brand">
                    {{ site.title }}
                </a>
            </section>
            <section class="navbar-section">
                <a href="javascript:document.getElementById('mobile-menu-container').classList.add('open');">
                <i class="fa fa-2x fa-bars"></i>
                </a>
            </section>
        </header>
        </div>
        <div class="overlay" id="mobile-menu-container">
            <header class="mobile-menu">
            <a href="{{ url_for('index') }}" class="nav-brand">
                {{ site.title }}
            </a>
            
            <a href="javascript:document.getElementById('mobile-menu-container').classList.remove('open');" class="mobile-menu-close">
                <i class="fa fa-2x fa-close"></i>
            </a>
            <ul class="nav">
            {% for item in site.menu %}
            {% set active = '' %}
            {% if request.url_rule.endpoint in item.endpoints %}
                {% set active = 'active' %}
            {% endif %}
            <li class="nav-item clickable" data-href="{{ url_for(item.endpoints[0]) }}">
            <a href="{{ url_for(item.endpoints[0]) }}" class="btn btn-link {{ active }}">
                {{ item.title }}
            </a>
            </li>
            {% endfor %}
            </ul>
            <section class="mobile-menu-profile">
                {% if current_user.is_authenticated %}
                    <img src="{{ current_user.avatar(32) }}" class="clickable" data-href="{{ url_for('profile') }}"/>
                <a href="{{ url_for('profile') }}" class="btn btn-link">
                    {{ current_user.data.fullname }}</a>
                <a href="{{ url_for('logout') }}" class="btn btn-link">Sign out</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-link">Sign in</a>
                {% endif %}
            </section>
            </header>
        </div>
        <main>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <section class="section">
                {% for category, message in messages %}
                <div class="toast toast-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            </section>
            {% endif %}
            {% endwith %}
            <section class="section">
                {% block content %}
                {% endblock %}
            </section>
        </main>
    </body>
</html>

