{% if collection.npages >= 2 %}
<ul class="pagination">
    <li class="page-item {% if page==0 %}disabled{% endif %}">
       <a href="{% if page==0 %}#{% else %}{{ url_for_self(page=page-1) }}{% endif %}">Prev</a>
    </li>

    {% for i in range(collection.npages) %}
    <li class="page-item {% if i==page %}active{% endif %}">
        <a href="{{ url_for_self(page=i) }}">{{ i+1 }}</a>
    </li>
    {% endfor %}
    
    <li class="page-item {% if page==collection.npages-1 %}disabled{% endif %}">
       <a href="{% if page==collection.npages-1 %}#{% else %}{{ url_for_self(page=page+1) }}{% endif %}">Next</a>
    </li>
</ul>

{% endif %}
