<h4>Upcoming seminars:</h4>

{% set events = sidebar_events().items %}

{% for item in events %}

<p>
<strong><time class="date-time-long" datetime="{{ item.date.isoformat() }}"></time></strong>
    {% if item.seminar %}
    {{ item.seminar }}
    {% endif %}

    {% if item.talk_speaker %}
    <strong>{{ item.talk_speaker }}</strong>
    {% endif %}
    
    {% if item.talk_title %}
    <em>{{ item.talk_title }}</em>
    {% endif %}

    <a href="{{ url_for('events_item', post=item.slug) }}">more...</a>
</p>

{% endfor %}

<h4>Syndicate</h4>
<a class="btn" href="{{ url_for('calendar') }}"><i class="fa fa-calendar"></i> iCal</a>
<a class="btn" 
   {#href="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src=ZjZwYW0zZmUzdmZjbXJxZ2wxNXIwanYxM2R1MjJwMmlAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%237986CB&amp;mode=AGENDA&amp;showTitle=0"#}
   href="https://calendar.google.com/calendar/embed?src=f6pam3fe3vfcmrqgl15r0jv13du22p2i%40import.calendar.google.com"
   ><i class="fa fa-calendar"></i> Google Calendar</a>

